/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --bg-color: #000028;
  --bg-color-text: #ff0070;
  --color-text: #f1b2ce;
  --title-header-color: #000028;
  --special-words-color: #ff0070;
  --bg-heading-shadow: #ff0070;
  --color-heading: #db00ff;
  --theme-switch-color: rgba(255, 0, 112, 1);
  --switch-color-hover: rgba(255, 0, 112, 0.4);
  --decor-color: #ff0070;
  --footer-shadow: #ff0070;
  .rec__word {
    color: var(--accent-color);
  }
  .rec__word::after {
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px rgba(255, 0, 112, 1);
  }
}
