/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --bg-color: #000028;
  --nav-color-focus: #ff0070;
  --color-text: #f1b2ce;
  --subtitle-color: #353430;
  --title-header-color: #000028;
  --color-heading: #db00ff; 
  --main-font: 'IBM Plex Mono', sans-serif;
  --theme-switch-color: rgba(255, 0, 112, 1);
}