.page {
  background-image:var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  min-height: 668px;
  height: 100vh;
  margin: 20px;
}

.decorated_zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color: var(--decor-color);
  bottom: 40px;
}

.decorated_zone::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
border-style: solid;
border-width: 1px 1px 0 0;
border-color: var(--decor-color);
right: 0px;
}

.rec__word {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
}

.rec__word::after {
  content: '';
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px rgba(255, 0, 112, 1);
  margin-left: 10px;
   margin-bottom: 3px;
}

  .rec__container {
  display: grid;
  justify-content: flex-end;
  grid-column-start:  3;
  grid-row-start: 1;
  margin-top: 2px;
  margin-right: 9px;
}

.header__theme-menu {
 grid-column: 1 / span 3;
    justify-self: center;
    align-self: start;
    grid-row-start: 1;
}

.header__theme-menu-list {
  display: flex;
  margin-left: 10px;
}

.header__theme-menu-button {
  margin-right: 10px;
  font-family: var(--main-font);
  font-size: 18px;
  padding: 1px 12px;
  padding-bottom: 4px;
  height: 26px;
  line-height: 18px;
  background-color: transparent;
  color: var(--theme-switch-color);
  border: 1px solid transparent;
  text-transform: lowercase;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button_active {
  border-color: var(--theme-switch-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--switch-color-hover);
}

.header__theme-menu-button:focus {
outline: none;
}
.header__theme-menu-button:focus-visible{
  border-bottom: 1px solid var(--theme-switch-color);
}

.header__title {
  grid-column: 1 / 4;
  grid-row: 2;
  align-self: center;
  color: var(--color-heading);
  font-family: var(--main-font);
  justify-self: start;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--bg-heading-shadow);
  text-transform: lowercase;
  margin-top: 27.8%;
  margin-left: -2%;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}

.header__text {
  grid-column: 1 / 4;
  grid-row: 3;
  justify-self: end;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-header-color);
  background-color: var(--bg-heading-shadow);
  margin-block-start: 11.6%;
  width: 50%;
}


.content {
  display: grid;
}

.content__card.content_why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px 20px 80px 20px;
  gap: 11px;
}

.section__title {
  color: var(--title-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  max-width: 315px;
}


.section__title-why {
  color: var(--title-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  max-width: 315px;
}

.section__title-advices {
  color: var(--title-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  max-width: 315px;
}

.section__heading {
  color: var(--title-header-color);
  font-family: var(--main-font);
  background-color: var(--bg-color-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  margin-bottom: 10.1px;
}

.section__text {
  color: var(--color-text);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.link__words {
  text-decoration: none;
  text-shadow: 2px 2px 0  var(--special-words-color);
}

.link__words:focus {
  outline: none;
}

.link__words:focus-visible {
  border: 1px solid var(--color-text);
}

.link__words:hover {
  border-bottom: 1px solid var(--color-text)
}

.section__list {
  display: grid;
  gap: 20px;
}

.content__card.content_contcentration {
  display: grid;
  grid-template-rows: min-content 1fr;
  margin: 0px 20px 80px 20px;
}

.section__list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  gap: 20px;
}

.content__card.content_advices {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0px 20px 80px 20px;
  gap: 10px;
}

.section__heading-advices {
  color: var(--title-header-color);
  font-family: var(--main-font);
  background-color: var(--bg-color-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  margin-bottom: 10px;
}

.section__list-advices {
  display: grid;
  gap: 19.6px;
}

.section__heading-decor {
  color: var(--title-header-color);
  font-family: var(--main-font);
  background-color: var(--bg-color-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.content__card.content_pictures {
  display: grid;
  margin: 0px 20px 60px 20px;
}

.content__card-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.content__card-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.content__card-image_sunset {
    grid-column: span 2 / span 2;
}

.content__card-image_ice-cream {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.content__card-image_tape {
  grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.content__card-image_books {
    grid-column-start: 2;
    grid-row-start: 2;
}

.content__card-image_street {
  grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.section__last {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 20px;
  min-height: 668px;
}

.section__last-title {
  color: var(--color-heading);
  font-family: var(--main-font);
  font-size: 157px;
  font-weight: 700;
  text-align: left;
  text-shadow: 2px 2px 0 var(--footer-shadow);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: var(--decor-color);
  right: 20px;
    top: 21px
}

.section__last::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color: var(--decor-color);
  left: 20px;
  bottom: 19px;
}

@media (width <= 768px) {
  .header__theme-menu {
    display: grid;
    grid-column:3 / 3;
    grid-row: 2 / 2;
    margin-left: 78px;
    margin-top: 20px;
  }
  .header__theme-menu-list {
    flex-direction: column;
    margin-block: 160%;
    gap: 10px;
    margin-left: 65%;
  }
  .header__title {
    margin-top: 418px;
    font-size: 120px;
    margin-left: -20px;
  }
  .header__text {
    margin-block-start: 163px;
    margin-right: -1px;
    width: 365px;
  }

  .content__card.content_why {
    gap: 20px;
  }
  
  .section__title {
   width: 150px;
  }
 
  .section__list-container {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: none;
  }
  .content__card.content_advices {
    gap: 20px;
  }
  .section__last-title {
    font-size: 120px
  }
}

@media (width <= 767px) {
  .header {
   margin: 18px 10px;
  }
   .header__title {
    font-size: 116px;
    margin-left: 0px;
    margin-top: 204px;
  }
  .header__text {
    margin-left: -74px;
    width: 356px;
    margin-block-start: 56px;
  }
  .header__theme-menu {
    grid-column: 2 / span 3;
    grid-row: 2 / 3;
    margin-top: 40px;
    margin-left: 73px;
  }
  .header__theme-menu-list {
    margin-block: 0px;
  }
  .decorated_zone::before {
    bottom: 20px;
  }
  .content__card.content_why {
    grid-template-rows: min-content min-content;
    grid-template-columns: none;
    margin-top: 15px;
    margin-left: 2.7%;
    margin-right: 2.8%;
    margin-bottom: 50px;
  }
  .content__card.content_advices {
    grid-template-rows: min-content min-content;
    grid-template-columns: none;
    margin: 0px 10px 50px 10px;
  }
  .content__card.content_contcentration {
    margin: 0px 10px 50px 10px;
  }
  .content__card.content_pictures {
    margin: 0px 10px 50px 10px;
    display: flex;
    flex-direction: column;
  }
  .content__card-set {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
  }
  .section__last {
    padding: 0;
  }
  .section__title {
    width: 300px;
  }
  .section__title-advices {
    max-width: 400px;
  }
  .section__title-why {
    line-height: 22px;
  }
  .section__last-title {
    font-size: 116px;
    margin-bottom: 20px;
  }
  .decorated-zone::after {
    top: 0px;
    }
  .decorated-zone::before {
    left: 10px;
    bottom: 21px;
  }
}