:root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --bg-color: #000028;
  --nav-color-focus: #ff0070;
  --color-text: #f1b2ce;
  --subtitle-color: #353430;
  --title-header-color: #000028;
  --special-words-color: #ff0070;
  --bg-heading-shadow: #ff0070;
  --color-heading: #db00ff; 
  --main-font: 'IBM Plex Mono', sans-serif;
  --theme-switch-color: rgba(255, 0, 112, 1);
  --decor-color: #ff0070;
  --footer-shadow: #ff0070;
}